/.* export-ignore
/tests/ export-ignore
/composer.json export-ignore
/Doxyfile export-ignore
/phpunit.xml.dist export-ignore

# Shellbox-specific
/composer.lock export-ignore
/config/ export-ignore
/docker-compose.yml export-ignore
/Makefile export-ignore
/public_html/ export-ignore
