/coverage/
/doc/
/vendor/
/.idea
/.phpunit.result.cache
/.env
/docker-compose.override.yml

# Shellbox-specific
/config/config.json
/config/test-config.json

# Docker compose local config
/docker-compose.override.yml
/.env
